body{
    font-family: Courier, "Times New Roman", Impact;
    line-height: 2;
    color:darkblue;
    background-color: rgba(251, 189, 189, 1);
    font-size: 20px;
}

img{
    border:5px solid black;
}

li{
    border: solid 1px black;

}